<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welome</h1>
    <form action="/search" method="get">
    	<input name="city" class="form-control mr=sm-2 " type="text" placeholder="Search City" aria-label="Search">
	</form>  
  </div>
</div>


