<div class= "container my-3 text-center">
<h1>Update your reservation</h1>

<%= form_with scope: :reservation, url: listing_reservation_path(params[:listing_id],@reservation), method: :patch, local: true do |form| %>

Start date : <input type="text" name="reservation[start_date]" value="">

End date : <input type="text" name="reservation[end_date]" value=""><br>


  <br><p>
    <%= form.submit :class => "btn btn-primary" %>
  </p>

  <%= link_to 'Back', reservations_path, :class => "btn btn-primary" %>

  <% end %>
</div>