<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome <%= @user.first_name + " " + @user.last_name %></h1>

    <p>
      Your booking has been confirmed.

    </p> 
    <p>
      Thank you for using Airbnb, We really appreciate you choosing Airbnb for your
      travel plans.
    </p>
    
    <a href="<%= @url %>">Make a payment here</a>

  </body>
</html>